

*{
    margin: 0;
    padding: 0;
}
body {
   background: #234;
}

.conteudo{
    height: auto;
    
   
    background: #ffffff;
    
}


.procuraContent{
    width: 33%;
    float: left;
    border: inset;
    padding: 10px;
    margin-left: 3px;
}

.foto {
    width: 250px;
    height: 250px;
    box-shadow: 3px 5px 3px rgba(0,0,0,.4);
}



.fieldSize{
    width: 200px;
    height: 23px;
    margin-bottom: 12px;
}

#painel{
    border: 1px solid #ccc;
    margin-left: 50px;
    margin-right: auto;
    padding: 20px;
    height: 320px;
    width: 440px;
}













.specialP{
    text-align: justify;
    margin-left: 20px;
    font-size: 13pt;
    font-family: "Book Antiqua";
    margin-right: 20px;


}





