@charset "UTF-8";


ul#album{
    width :700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}



ul#album li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .6s ease-in;
}

ul#album li span{
    opacity: 0;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    padding: 5px;
    line-snap: baseline;


}



ul#album li:hover span{
    opcity:1;
}

ul#album li:hover{
    -webkit-transform: scale(1.5);
}



ul#album li#foto01{
    background: url('/img/imagens/foto01.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto01:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#foto014{
    background: url('/img/imagens/foto014.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto014:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto015{
    background: url('/img/imagens/foto015.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto015:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album li#foto04{
    background: url('/img/imagens/foto04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#foto08{
    background: url('/img/imagens/foto08.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto08:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#foto09{
    background: url('/img/imagens/foto09.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto09:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}