
*{
    margin: 0;
    padding: 0;
}



/*CONTACTO*/
#contacto{
	float: left;
	width:77%;
	margin-top: 5px;
}

#contacto .info-contacto{
	font-size: 35px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000069;
	padding: 5px;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: 3%;
}

#contacto form{
	float: left;
	width: 60%;
	padding: 5PX;
	margin-left: 3%;
}

#contacto fieldset{
	font-size: 1.5em;
	font-family: "Times New Roman", Times, serif;
	color: #333;
	padding: 5px;
}

#contacto label{
	display: block;
}

#contacto span{
	font-size: 1.2em;
	padding: 5px;
	display: block;

}

#contacto input{
	width: 450px;
	font-size: 1.2em;
	font-family: "Times New Roman", Times, serif;
	color: #333;
	padding: 5px;
}

#contacto select{
	font-size: 0.6em;
	font-family: "Times New Roman", Times, serif;
	color: #333;
	padding: 5px;
	margin: 10px 0;
}

#contacto textarea{
	width: 450px;
	font-size: 1.2em;
	font-family: "Times New Roman", Times, serif;
	color: #333;
	padding: 5px;
}

#contacto .btn-env{
	float: left;
	width: 100px;
	font-size: 1.2em;
	font-family: "Times New Roman", Times, serif;
	color: #333;
	padding: 5px;
	cursor: pointer;
	margin-top: 2%;
}



h1{
  color: #3f3f3f;
}





.painelLeft{
     float: left;
     width: 45%;
 }


.painelCenter{
    float: left;
    width: 45%;
    margin-left: 40px;
}



.painelRight{
    float: left;
    margin-left: 10px;
}

label{
    color: rgb(0,75,150);
}

.fieldSize{
    width: 200px;
    height: 23px;
    margin-bottom: 12px;
}

#painel{
    border: 1px solid #ccc;
    margin-left: 50px;
    margin-right: auto;
    padding: 20px;
    height: 320px;
    width: 440px;
}






.conteudo{
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background: #fcfcfc;
    margin-top: 5%;
    margin-bottom: 5%;
}




.specialP{
    text-align: justify;
    margin-left: 20px;
    font-size: 13pt;
    font-family: "Book Antiqua";
    margin-right: 20px;


}




.btn{

    position: relative;
    background: rgb(254,0,154);
    background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float:left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

    margin-left: 10px;
}




